<div class="col-lg-6 offset-lg-3">

  <div class="jumbotron">
    <h1 class="display-4">Login</h1>

    <form ng-submit="login.doLogin()">

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="login.loginData.username">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="login.loginData.password">
      </div>

      <div class="alert alert-danger" ng-if="login.error">
        {{ login.error }}
      </div>

      <button type="submit" class="btn btn-block btn-success">
				<span>Login</span>
      </button>
      
      <a href="/" class="btn btn-block btn-primary">Go back to home page</a>
      
    </form>

    <!-- <form ng-submit="login.createSample()"><button type="submit" class="btn btn-block btn-primary">Create Sample?</button> </form> -->
  </div>
</div>