main {
	padding-top: 30px;
}

/* HEADER
===================== */
 .navbar-toggler	{
	border: none;
} 

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

.card-header {
	color:	white;
	background-color: #17a2b8;
}

.card-body {
	height: 315px;
	overflow-y: auto;
}

#canvas {
	border: 1px solid  #17a2b8;
}